.input {
  &__text {
    @include font('monospaced', 400);
    width: 100%;

    background: none;
    border: none;
    outline: none;

    transition: border-bottom-color $transition__input ease-out, color $transition__input ease-out;
    color: $whiteTrans;
    border-bottom: 2px solid $whiteTrans;

    padding: 0 0 .5rem 0;

    // TODO: make work so that when filled it is white
    &:focus {
      color: $white;
      border-bottom: 2px solid $white;
      transition: border-bottom-color $transition__input ease-out, color $transition__input ease-out;
    }

    //With help from: https://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css
    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
      -webkit-text-fill-color: $whiteTrans;
      -webkit-box-shadow: 0 0 0 50px rgba(0,0,0,0.7) inset;/*your box-shadow*/
    }
  }


  &__submit {
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    @include font("sans-serif", 700, "normal");
    font-size: ms(1);
    float: right;
    margin-top: 1rem;
    transition: .5s;

    &--disabled {
      cursor: not-allowed;
      opacity: .5;
    }

    &--omen {
      float: left;
      position: absolute;
    }

    &--destructive {
      color: #FAA !important;
    }

    &--logout {
      display: block;
      float: right;
    }
  }

  &__logout {
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    @include font("sans-serif", 700, "normal");
    font-size: ms(0);
    @include font(sans-serif, 600);
    text-transform: uppercase;
    transition: .5s;
  }

  &__seeMore {
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    @include font("sans-serif", 700, "normal");
    font-size: ms(0);
    @include font(sans-serif, 600);
    transition: .5s;
    margin: 0;
    padding: 0;
  }


  &__label {
    @include font('monospaced', 400);
    font-size: ms(0);
    user-select: none; 
    

    &--small {
      font-size: ms(-1);

    }

    &--floating {
      position: absolute;
      top: 1.5rem;
      transition: $transition__label;
      left: .4rem;
      cursor: text;
    }

    &--selected {
      cursor: default;
      top: 0rem;
      left: 0rem;
      font-size: ms(-1);
      color: $white;
    }

    &--dob {
      position: relative !important;

      &:not(.input__label--selected) {
        top: 1rem;
      }
    }
  }
}

//Account Settings
.accountSubmit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  float: right;

  * {
    flex-grow: 0;
  }

  a {
    margin-top: 1.5rem;
    align-self: flex-start;
  }
}

//Hide old password for extra security (so nobody can copy it off the screen)
input[type="password-old"] {
  -webkit-text-security: disc !important;
}