.input {
  &__text {
    @include font('monospaced', 400);

    background: none;
    border: none;
    outline: none;


    transition: border-bottom-color $transition__input ease-out, color $transition__input ease-out;
    color: $whiteTrans;
    border-bottom: 2px solid $whiteTrans;

    padding-bottom: .5rem;

    // TODO: make work so that when filled it is white
    &:focus {
      color: $white;
      border-bottom: 2px solid $white;
      transition: border-bottom-color $transition__input ease-out, color $transition__input ease-out;
    }
  }

  // TODO: make look good (javascript, maybe?)
  &__select {
  }


  &__label {
    @include font('monospaced', 400);
    font-size: ms(0);

    position: absolute;
    top: 1.5rem;
    transition: .5s;
    left: .4rem;
    cursor: text;

    &--small {
      font-size: ms(-1);

    }

    &--selected {
      cursor: default;
      top: 0rem;
      left: 0rem;
      font-size: ms(-1);
      color: $whiteTrans
    }
  }
}