@charset "UTF-8";
html,
body {
  min-height: 100%;
  width: 100%;
}

html {
  background-image: url("../assets/images/gradient.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-size: 16px;
}

body.js-fixed {
  position: fixed;
  top: var(--js-scrollPosY);
}

.content {
  z-index: 0;
  transition: filter 1s ease-out;
  filter: blur(0px);
}

.content.js-blur {
  filter: blur(20px);
  transition: filter 1s ease-out;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
fieldset,
form,
label,
legend,
textarea,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  line-height: 24px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
}

a, a:visited {
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-feature-settings: "liga";
  font-family: freight-big-pro, serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: 6.8541021569em;
}

h2 {
  font-size: 4.2360680659em;
}

.italics {
  font-style: italic;
}

/* FONTS
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;

  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;

  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: italic;

  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 700;
  font-style: normal;

  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 700;
  font-style: italic;

  font-family: calling-code, sans-serif;
  font-weight: 400;
  font-style: normal;

  font-family: freight-big-pro, serif;
  font-weight: 300;
  font-style: normal;

  font-family: freight-big-pro, serif;
  font-weight: 300;
  font-style: italic;

  font-family: freight-big-pro, serif;
  font-weight: 400;
  font-style: normal;

  font-family: freight-big-pro, serif;
  font-weight: 400;
  font-style: italic;

  font-family: freight-big-pro, serif;
  font-weight: 500;
  font-style: normal;

  font-family: freight-big-pro, serif;
  font-weight: 500;
  font-style: italic;

  font-family: granville, serif;
  font-weight: 400;
  font-style: italic;
}
*/
.g-span1of1 {
  width: calc(1 * (100% - 0) + 0);
  margin-right: 1em;
}

.g-span1of2 {
  width: calc(0.5 * (100% - 1em) + 0);
  margin-right: 1em;
}

.g-span2of2 {
  width: calc(1 * (100% - 1em) + 1em);
  margin-right: 1em;
}

.g-span1of3 {
  width: calc(0.3333333333 * (100% - 2em) + 0);
  margin-right: 1em;
}

.g-span2of3 {
  width: calc(0.6666666667 * (100% - 2em) + 1em);
  margin-right: 1em;
}

.g-span3of3 {
  width: calc(1 * (100% - 2em) + 2em);
  margin-right: 1em;
}

.g-span1of4 {
  width: calc(0.25 * (100% - 3em) + 0);
  margin-right: 1em;
}

.g-span2of4 {
  width: calc(0.5 * (100% - 3em) + 1em);
  margin-right: 1em;
}

.g-span3of4 {
  width: calc(0.75 * (100% - 3em) + 2em);
  margin-right: 1em;
}

.g-span4of4 {
  width: calc(1 * (100% - 3em) + 3em);
  margin-right: 1em;
}

.g-span1of5 {
  width: calc(0.2 * (100% - 4em) + 0);
  margin-right: 1em;
}

.g-span2of5 {
  width: calc(0.4 * (100% - 4em) + 1em);
  margin-right: 1em;
}

.g-span3of5 {
  width: calc(0.6 * (100% - 4em) + 2em);
  margin-right: 1em;
}

.g-span4of5 {
  width: calc(0.8 * (100% - 4em) + 3em);
  margin-right: 1em;
}

.g-span5of5 {
  width: calc(1 * (100% - 4em) + 4em);
  margin-right: 1em;
}

.g-span1of6 {
  width: calc(0.1666666667 * (100% - 5em) + 0);
  margin-right: 1em;
}

.g-span2of6 {
  width: calc(0.3333333333 * (100% - 5em) + 1em);
  margin-right: 1em;
}

.g-span3of6 {
  width: calc(0.5 * (100% - 5em) + 2em);
  margin-right: 1em;
}

.g-span4of6 {
  width: calc(0.6666666667 * (100% - 5em) + 3em);
  margin-right: 1em;
}

.g-span5of6 {
  width: calc(0.8333333333 * (100% - 5em) + 4em);
  margin-right: 1em;
}

.g-span6of6 {
  width: calc(1 * (100% - 5em) + 5em);
  margin-right: 1em;
}

.g-span1of7 {
  width: calc(0.1428571429 * (100% - 6em) + 0);
  margin-right: 1em;
}

.g-span2of7 {
  width: calc(0.2857142857 * (100% - 6em) + 1em);
  margin-right: 1em;
}

.g-span3of7 {
  width: calc(0.4285714286 * (100% - 6em) + 2em);
  margin-right: 1em;
}

.g-span4of7 {
  width: calc(0.5714285714 * (100% - 6em) + 3em);
  margin-right: 1em;
}

.g-span5of7 {
  width: calc(0.7142857143 * (100% - 6em) + 4em);
  margin-right: 1em;
}

.g-span6of7 {
  width: calc(0.8571428571 * (100% - 6em) + 5em);
  margin-right: 1em;
}

.g-span7of7 {
  width: calc(1 * (100% - 6em) + 6em);
  margin-right: 1em;
}

.g-span1of8 {
  width: calc(0.125 * (100% - 7em) + 0);
  margin-right: 1em;
}

.g-span2of8 {
  width: calc(0.25 * (100% - 7em) + 1em);
  margin-right: 1em;
}

.g-span3of8 {
  width: calc(0.375 * (100% - 7em) + 2em);
  margin-right: 1em;
}

.g-span4of8 {
  width: calc(0.5 * (100% - 7em) + 3em);
  margin-right: 1em;
}

.g-span5of8 {
  width: calc(0.625 * (100% - 7em) + 4em);
  margin-right: 1em;
}

.g-span6of8 {
  width: calc(0.75 * (100% - 7em) + 5em);
  margin-right: 1em;
}

.g-span7of8 {
  width: calc(0.875 * (100% - 7em) + 6em);
  margin-right: 1em;
}

.g-span8of8 {
  width: calc(1 * (100% - 7em) + 7em);
  margin-right: 1em;
}

.g-span1of9 {
  width: calc(0.1111111111 * (100% - 8em) + 0);
  margin-right: 1em;
}

.g-span2of9 {
  width: calc(0.2222222222 * (100% - 8em) + 1em);
  margin-right: 1em;
}

.g-span3of9 {
  width: calc(0.3333333333 * (100% - 8em) + 2em);
  margin-right: 1em;
}

.g-span4of9 {
  width: calc(0.4444444444 * (100% - 8em) + 3em);
  margin-right: 1em;
}

.g-span5of9 {
  width: calc(0.5555555556 * (100% - 8em) + 4em);
  margin-right: 1em;
}

.g-span6of9 {
  width: calc(0.6666666667 * (100% - 8em) + 5em);
  margin-right: 1em;
}

.g-span7of9 {
  width: calc(0.7777777778 * (100% - 8em) + 6em);
  margin-right: 1em;
}

.g-span8of9 {
  width: calc(0.8888888889 * (100% - 8em) + 7em);
  margin-right: 1em;
}

.g-span9of9 {
  width: calc(1 * (100% - 8em) + 8em);
  margin-right: 1em;
}

.g-last {
  margin-right: 0;
}

.g-flex {
  display: flex;
}

.input__text {
  font-family: calling-code, courier, monospace;
  font-weight: 400;
  font-style: normal;
  background: none;
  border: none;
  outline: none;
  transition: border-bottom-color 1s ease-out, color 1s ease-out;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  padding-bottom: 0.5rem;
}
.input__text:focus {
  color: white;
  border-bottom: 2px solid white;
  transition: border-bottom-color 1s ease-out, color 1s ease-out;
}
.input__label {
  font-family: calling-code, courier, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  position: absolute;
  top: 1.5rem;
  transition: 0.5s;
  left: 0.4rem;
  cursor: text;
}
.input__label--small {
  font-size: 0.6180339845em;
}
.input__label--selected {
  cursor: default;
  top: 0rem;
  left: 0rem;
  font-size: 0.6180339845em;
  color: rgba(255, 255, 255, 0.7);
}

.layout {
  margin: 0 5em;
}
.layout--distant {
  margin-top: 6.8541021569em;
  margin-bottom: 6.8541021569em;
}
.layout--close {
  margin-top: 1.618034em;
  margin-bottom: 1.618034em;
}
.layout--flex {
  display: flex;
}

.item {
  box-sizing: border-box;
  overflow: hidden;
  border-top: 2px solid white;
  padding-top: 1em;
}
.item--primary {
  border-top: 3px solid white;
}

.callToAction {
  font-size: 1em;
  display: inline-block;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 0.6180339845em;
}
.callToAction--large {
  font-size: 1.618034em;
  margin-top: 1em;
}
.callToAction:after {
  display: inline-block;
  content: "  →";
}

.tile {
  box-sizing: border-box;
  border: 1px solid white;
  padding: 1em 1em;
  margin-bottom: 1em;
}
.tile__text {
  font-feature-settings: "liga";
  font-size: 1.618034em;
  line-height: 1.5;
  font-family: freight-big-pro, serif;
  font-weight: 400;
  font-style: normal;
}
.tile__text--title {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  display: inline;
}
.tile__text--list {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline;
}
.tile__listItem {
  font-feature-settings: "liga";
  font-size: 1em;
  line-height: 1.5;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline;
  color: rgba(255, 255, 255, 0.7);
  padding-right: 1em;
}
.tile__listItem--title {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
}
.tile__listItem--large {
  font-size: 1.618034em;
}
.tile__panel {
  box-sizing: border-box;
  overflow: hidden;
  border-top: 2px solid white;
  padding-top: 1em;
  flex-wrap: wrap;
}
.tile__panel--primary {
  border-top: 3px solid white;
}
.tile__row {
  margin-bottom: 1em;
}
.tile__row > li {
  list-style: none;
  display: inline-block;
}
.tile__row--last {
  margin-bottom: 0;
}
.tile__listItem {
  padding-right: 0.5em;
}

.nav {
  justify-content: space-between;
  padding: 2.6180340252em 0;
}
.nav li {
  list-style: none;
  display: inline-block;
}
.nav__link, .nav__divider {
  font-size: 1em;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}
.nav__link > a, .nav__divider > a {
  text-decoration: none;
}
.nav__text {
  font-size: 1em;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
}
.nav__left li {
  padding-right: 0.5em;
}
.nav__right li {
  padding-left: 0.5em;
}

.peom__text {
  font-family: granville, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2.6180340252em;
}
.peom__author {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.modal {
  z-index: 100;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  opacity: 0;
  transition: opacity 1s ease-out;
  background-color: rgba(20, 20, 20, 0.7);
}
.modal__content {
  overflow-y: auto;
}

.js-modal--open {
  display: block;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.form__row {
  display: flex;
  position: relative;
  margin-bottom: 0.5rem;
}