.modal,  {
  z-index: 100;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
  opacity: 0;

  transition: opacity 1s ease-out;


  background-color: $blackTrans;

  // This is meant to do some scroll bar jank magic
  //padding-right: var(--js-scrollBarWidth);

  &__content {
    overflow-y: auto;
  }


  .bgImages {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    img {
      max-width: 33%;
      filter:brightness(60%);
    }
  }
}
.js-modal--open {
  display: block;
  opacity: 1;
  transition: opacity 1s ease-out;
}
