.omenImg {
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	mask-image: linear-gradient(to top, transparent 30%, rgba(black, .7) 90%);
	overflow-y: hidden !important; // hide vertical
	overflow-x: hidden !important; // hide horizontal
}