.omenImg {
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-mask-image: linear-gradient(to top, transparent 40%, rgba(black, .7) 90%);
  	mask-image: linear-gradient(to top, transparent 40%, rgba(black, .7) 90%);
}